<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo</title>

  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div id="app" class="container" v-cloak>
    <div class="row">
      <form
        @submit.prevent="add"
        class="center-width">
        <input
          v-model="newTodo"
          type="text"
          class="item-entry"
          placeholder="Add New Item">
      </form>
    </div>

    <div class="row">
      <span
        @click="toggleCompleted"
        :class="['completed-counter', 'center-width', {'active': showCompleted}]">
        Completed {{ completed }} / {{ todos.length }}
      </span>
    </div>

    <div class="row">
      <ul class="tasks center-width">
        <li
          v-for="item in sortedTodos"
          :key="item.id"
          v-if="!item.completed || showCompleted"
          :class="['task', {'active': item.completed}]">
          <span>{{ item.title }}</span>
          <div
            v-if="!item.completed"
            class="row icon-group">
            <i
              @click="complete(item)"
              class="fa fa-check-square-o complete-task"></i>
            <i
              @click="remove(item)"
              class="fa fa-trash-o delete-task"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.js"
    integrity="sha256-z1if//it5+Nk8vE5T+Oj4fQFt3lzPUCZBFB8nfSzBWo="
    crossorigin="anonymous"></script>
  <script src="index.js"></script>
</body>
</html>
